body
{
    background-color: #f5f5f5;
}
html, body, #root {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    height: auto;
    display: flex;
    flex-direction: column;
}